<div class="main-flex">
<div class="second-div" >
<h1>Books</h1>
<p><span>Quntity</span>{{count}}</p>
<div>
<button (click)="add($event)" class="btn"> + </button>
<button (click)="sub()"class="btn" > - </button>

<button (click)="ref()" class="btn">Reset</button>
</div>
</div>
</div>

<br><br>
<!-- toggle example -->

<button (click)="toggled()">Toggle this color</button>
<br><br>
<div [class.isActive]="isActive">Toggled Example</div>

<br><br>

<dl>
    <dt>userName</dt>
    <dd><input type="text" placeholder="Enter user name" (keydown)="keyd($event)"></dd>
</dl>