.light{
background-color: rgb(40, 238, 83);
color: white;
}
.dark{
   background-color: rgb(238, 10, 21);
   color: white;
}
.siOn{
   background-color: green;
   height: 50px;
   width: 50px;
}
.siOff{
   background-color: red;
   height: 50px;
   width: 50px;
}

/* is active class */
