<div>
  <div class="container primary">
    <h1>Curd App</h1>
    <button class="btn btn-primary" (click)="add()">Add</button>
  </div>
  <div *ngIf="data">
    <table class="table ">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
        <tbody>
          <ng-container *ngFor="let d of data">
            <tr>
              <td>{{d.id}}</td>
              <td>{{d.title}}</td>
              <td>{{d.author}}</td>
              <td><button class="btn btn-primary">Edit</button></td>
              <td><button class="btn btn-danger">Delete</button></td>
            </tr> 
         </ng-container>       

        </tbody>
      
     </table>
  
  </div>
</div>

<div *ngIf="showData" class="formContainer">
  <div class="popup">
    <form action=""  #myForm="ngForm" class="form" (ngSubmit)="onSubmit(myForm)">
      <div class="idInput">
        <label for="">  ID :</label>
      <input type="text" ngModel #id="ngModel" name="id-name" class="forms-control">
      </div><br>
      <div class="titleInput">
        <label for=""> Title :</label>
         <input type="text"  ngModel #title="ngModel" name="title-name">
      </div><br>
     <div class="authorInput">
      <label for=""> Author :</label>
       <input type="text"  ngModel #author="ngModel" name="author-name">
     </div><br>

     <div class="buttons">
      <button type="submit" >add</button>
      <button  (click)="closeForm()">Cancel</button>
    </div>
      
    </form>
    
  </div>
  
</div>

<router-outlet></router-outlet>
