@import "../../../../node_modules/bootstrap/dist/css/bootstrap.css";

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 0;
    z-index: 100;
    width: 110vh;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
}
.popup{
    background-color: white;
    color: black;
    padding: 50px;
  
    border-radius: 10px;
}